/* INDEX */
body {
    background-color: #EFE2BA;
}

.title-header {
    display: flex;
    justify-content: center;
    font-family: 'Palanquin Dark', sans-serif;
}

.logoImage {
    width: 95px;
    height: 90px;
}

nav,
.footer {
    margin: 0 auto;
    padding: 1em 3em;
    box-sizing: border-box;
    background: #4056A1;
    text-align: center;
    box-shadow: 1px 1px 5px #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.home-header {
    background: #fff;
    padding: 14px 0;
    border-bottom: solid 1px #e6e6e6;
    margin-top: 0px;
    overflow: inherit;
}

.homeCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
}

.languagehHomeCard,
.french,
.spanish,
.italian {

    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background: #f9f9f9;
    text-align: center;
    border-bottom: solid 1px #e6e6e6;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 5px #888;
    color: black;
    background: linear-gradient(white, white 50%, #333 50%, #333);
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;

}

.languagehHomeCard:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

@keyframes up-bump {
    0% {
        padding-top: 2em;
    }

    50% {
        padding-top: 1.5em;
    }

    100% {
        padding-top: 2em;
    }
}

@keyframes down-bump {
    0% {
        padding-top: 2em;
    }

    50% {
        padding-top: 2.5em;
    }

    100% {
        padding-top: 2em;
    }
}

.languageHomePicture {
    width: 400px;
    height: 500px;
}

.nav-block {
    display: flex;
    align-items: center;

}

.about {
    margin-right: 20px;
    color: white;
}

.create {
    background-color: #FFC000;
    padding: 10px 18px;
    border-radius: 4px;
    text-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
}

/* Might use later */
/* input[type="text"],
input[type="submit"] {
    width: 60%;
    padding: 1em;
    border: 0px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 2px #ddd;
    margin: 0.5em 0;
} */

a {
    text-decoration: none;

}


/* Header - might use this later */
/* header nav {
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', helvetica;
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 1em;
    text-transform: uppercase;
    
} */

/* Footer */
.footer {
position: absolute;
bottom: 0;
width: 100%;
height: 60px;
/* Height of the footer */
border-top-left-radius: 1em;
border-top-right-radius: 1em;
}

/* ===========================================French Card=================================================== */

.container {
    /* this just moves the container to center */
    margin: 150px 20px 20px 300px;
    padding: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 0.35rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    background-color: #FFC000;
    /* transform-style: preserve-3d; */
    /* this is needed for functionality  */
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
    /* ends here */
    height: 400px;
    width: 500px;
    margin: 10px;
    
}

.card:hover {
    /* --translate-y: -2px; */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.flip {
    /* this is needed for functionality */
    --rotate-y: 180deg;

}
/* .card.front {
    left: 0;
} */
.front {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;

}
.back {
 transform: rotateY(180deg);
 backface-visibility: hidden;
}





/* working code for hover */
/* .container {
    position: relative;
  
    width: 600px;
    height: 320px;
 


}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: 400px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: #FFC000;
}
.card:hover {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc000;
    color: #333;

}


.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #ffc000;
    color: #333;
    transform: rotateY(180deg);
} */




