/*COLOR VARIABLES*/
:root {
    --bright-orange: #F18963;
    --purple: #B67D9A;
  }

/* INDEX */
body {
    background-color: #ffeab6;
    padding-bottom: 150px;
}

h3 {
    font-size: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

img {
    height: 200px;
    width: 200px;
}

.title-header {
    display: flex;
    justify-content: center;
    font-family: 'Palanquin Dark', sans-serif;
}

.logoImage {
    width: 95px;
    height: 90px;
}

nav,
.footer {
    padding: 1em 3em;
    box-sizing: border-box;
    background: #4056A1;
    text-align: center;
    box-shadow: 1px 1px 5px #888;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.page-header {
    background: #fff;
    padding: 14px 0;
    border-bottom: solid 1px #e6e6e6;
    margin-top: 0px;
    overflow: inherit;
}

.homeCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 48px;
    margin-right: 48px;
}

.card,
.languagehHomeCard,
.french,
.spanish,
.italian {

    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    background: #f9f9f9;
    text-align: center;
    border-bottom: solid 1px #e6e6e6;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 5px #888;
    font-family: "Oswald";
    font-weight: 700;
    color: black;
    background: linear-gradient(white, white 50%, #333 50%, #333);
    background-size: 100% 202%;
    transition: all 0.2s ease;
    animation: down-bump 0.4s ease;



}

.showCard {
    width: 800px;
    height: 400px;
    background-image: url(https://1001freedownloads.s3.amazonaws.com/vector/thumb/109019/index_card.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 100px auto 0 auto;
    

    /* flip functionality */
    transform-style: preserve-3d;
    transition: 150ms;
    cursor: pointer;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0));
}

.card:hover,
.showCard:hover {
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0.5);
    opacity: 1;
}

.flip {
    /* this is needed for functionality */
    --rotate-y: 180deg;
}

.front {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.back {
    /* this is needed for functionality */
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

/* flip functionality ends here */

.languagehHomeCard:hover {
    background-position: 100% 100%;
    animation: up-bump 0.4s ease;
}

@keyframes up-bump {
    0% {
        padding-top: 2em;
    }

    50% {
        padding-top: 1.5em;
    }

    100% {
        padding-top: 2em;
    }
}

@keyframes down-bump {
    0% {
        padding-top: 2em;
    }

    50% {
        padding-top: 2.5em;
    }

    100% {
        padding-top: 2em;
    }
}

.languageHomePicture {
    width: 400px;
    height: 500px;
}

.nav-block {
    display: flex;
    align-items: center;

}

.about {
    margin-right: 20px;
    color: white;
}

.cardDeck {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
    width: 200px;
    height: 100px;
    background-image: url(https://1001freedownloads.s3.amazonaws.com/vector/thumb/109019/index_card.png);
    background-size: cover;

}

h1 {
    text-align: center;
    font-family: "Oswald";
    color: #4056A1;

}

/* LOGIN AND CREATE NEW CARD BUTTON STYLING*/
.login, .create{
    font-family: "Oswald";
    font-size:larger;
    background-color: #ffe9a8;
    padding: 10px 18px;
    border: 0px;
    border-radius: 4px;
    text-shadow: 0px 1px 3px rgb(0 0 0 / 20%);
    box-shadow: 1px 1px 2px #ddd;
    cursor: pointer;
    margin-left: 50px;
}


/* INPUT BOX STYLING */
input
 {
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
    border: 0px;
    border-radius: 0.5em;
    box-shadow: 1px 1px 2px #ddd;
}

/* MAKES INPUT FIELDS CHANGE OUTLINE COLOR WHEN CLICKED */
input:focus{
    outline: 0;
    border: 1px solid #4056A1;
}

a {
    text-decoration: none;

}

/*  CONTAINER HOLDING ALL FORM ELEMENTS*/
.container{
    width: 70vw;
  height: 70vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: peachpuff;
  box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd;
}


/* FORM IMAGE STYLING */
.sidebar{
    width: 100%;
    height: 34%;
    background: url("https://i.imgur.com/ANzbRn1.jpg?1");
    /* object-fit:fill; */
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    /* object-fit: contain; */
    

}

/* FORM STYLING */
.createForm{
    width: 100%;
    height: 66%;
    background: #f9f9f9;
    border-radius: 0 10px 10px 0;
    padding: 15px;
    /* padding-top: 30px; */
    box-sizing: border-box;
    /* overflow: auto; */
}

/* STYLING FOR AREA LEGEND OUTLINE */
fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 40px;
    margin: 40px;
    padding-bottom: 30%;
}

/* OUTER TEXT AND FORM OUTLINE */
legend{
    font-family: "Oswald";
    font-weight: 550;
    color: #4056A1;
    border-bottom: 2px #4056A1;
    height: 100%;
}

/* INPUT LABEL STYLING */
label{
    font-family: "oswald";
    font-weight: 200;
    color: var(--bright-orange);
    padding: 50px;
}

/* SUBMIT BUTTON STYLING */
.submit{
    font-family: "Oswald";
    font-size:larger;
    width: 100%;
    height: 60px;
    background-color: #ffe9a8;
    margin-top:70px;
    padding: 10px 18px;
    border-radius: 4px;
    border: 1px solid black;

}

/* OUTLINE EFFECT ON ANY BUTTON HOVER */
button:hover {
    outline: 0;
    border: 4px solid #4056A1;
}

/* =======================Footer ========================== */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Height of the footer */
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

/* Header - might use this later */
/* header nav {
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', helvetica;
    font-weight: 700;
    font-size: 0.8em;
    margin-left: 1em;
    text-transform: uppercase;
    
} */





/* ==========================about======================= */

.aboutContainer {
    display: flex;
    justify-content: center;

}

.aboutImg {
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 2px #333232;
}

.team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.about-text {
    width: 400px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}



ion-icon {
    color: rgb(0, 0, 8);

}

ion-icon:hover {
    cursor: pointer;
}

.loginImg {
    height: 50%;
    width: 50%;
}

.loginDiv {
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}


